h1{
	
	margin:180px 0px 45px 492px;
	font-size:75px;
	font-family: 'Comic Neue', cursive;
font-family: 'Noto Serif', serif;
}
#insta{
	margin-left:400px;
	padding:70px;
}
#facebook{
	padding-right:70px;
}
#twitter{
	margin-left:495px;
	padding:0px;
}
#gmail{
	padding:70px;
}

#skype{
	margin-left:680px;
}

